

// Restaurants Menu Description Animation
@for $i from 2 through 5 {
    .restaurant__menu-description:nth-child(#{$i}) {
        animation-name: fromBottom;
        animation-duration: ($i+1) * .5s;
        animation-timing-function: ease-out;
    }
}


@keyframes fromBottom {
    0% {
        opacity: 0;
        transform: translateY(2.5rem);
    }


    100% {
        opacity: 1;
    }
}


// Restaurants Menu Description Animation Hover Effect
// .restaurant__menu-description {
//     &:hover,
//       .restaurant__menu-icon {
//         animation-name: hoverAnimation;
//         animation-duration: 1s;
//         animation-timing-function: ease-in-out;
//     }
// }


// @keyframes hoverAnimation {
//     0% {
//         opacity: 0;
//     }

//     100% {
//         width: 2rem;
//         opacity: 1;
//     }
// }






// Restaurants Menu Title Underline Animation
.restaurant__menu-title {
    &::after {
        animation-name: fromLeftToRight;
        animation-duration: 1.9s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes fromLeftToRight {
    0% {
        opacity: 0;
        width: 0%;
    }

    80% {
        width: 3.5rem;
    }

    100% {
        opacity: 1;
        width: 2.5rem;
    }
}






// Restaurants Menu Description animation


