@mixin box-shadow {
    box-shadow: 2px 9px 25px -5px $btn-box-shadow;
}





// Header
@mixin header {
    .header {
        padding: 1rem;
        width: 100%;
        text-align: center;
        background-color: $header-background-color;
        box-shadow: 0 1px 9px $header-box-shadow;
        &__logo {
            width: 10rem;
        }
    }
}


// Footer
@mixin footer {
    background-color: $footer-background;
    height: 35vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    a {
        text-decoration: none;
        color: $text-color-invert;
        margin-bottom: 1rem;
    }

    a:hover,
    a:focus {
        color: darken($color: $color-primary, $amount: 5%);
        transition: all 500ms;
        outline: none;
    }

    &__links {
        margin-bottom: .5rem;
    }

    &__icon {
        font-size: .7rem;
        margin-right: .6rem;
    }


    &__logo {
        font-family: 'Shrikhand', cursive;
        font-weight: bolder;
        font-size: 1.2rem;
    }
    }



@mixin button {
        text-decoration: none;
        display: block;
        border-radius: 50px;
        cursor: pointer;
        margin: 0 auto;
        padding: 1.2rem 2rem;
        color: $text-color-invert;
        background: linear-gradient(173deg, $color-secondary, $color-primary);
        box-shadow: 2px 9px 25px -5px $title-btn-box-shadow;
        transition: all 500ms;

        &:hover {
            transform: scale(1);
            background: linear-gradient(173deg, $color-secondary 15%, $color-primary 85%);
            box-shadow: $title-btn-box-shadow;
        }
}



