

// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$text-color: #000000;
$text-color-invert: #ffffff;
$icon-color: #808080;

// Background-Colors
$body-color-background: #f5f5f5;
$header-background-color: #fff;
$location-background-color: #ebebeb;
$functioning-background-color: $header-background-color;
$footer-background: #3d3d3d;









// Box-Shadows
$header-box-shadow: #0000005b;
$title-btn-box-shadow: #00000083;
$btn-box-shadow: #00000033;
$card-box-shadow: #00000033;













