



// Home-Page
@media only screen and (max-width: $phoneBreakPoint) {

    .title {
        &__main {
            font-size: 1.3rem;
        }

        &__sub {
            font-size: .9rem;
        }

        &__btn {
            font-size: .7rem;
        }
    }

    .functioning {

        &__title {
            font-size: 1.3rem;
        }


        &__btn-filter {
            font-size: .7rem;
        }

        &__btn-num {
            font-size: .7rem;
            bottom: 1.1rem;
        }
    }


    .restaurants {

        &__title {
            font-size: 1.3rem;
        }

        &__card-description {

            &-title {
                font-size: 1.2rem;
            }

            &-subtitle {
                font-size: 1rem;
            }
        }

        .checked,
        .unchecked {
            width: 1.5rem;
        }
    }

}



@media only screen and (min-width: $tabletBreakPoint) {
    .functioning {


        &__title {
            text-align: center;
        }

        &__btn {
            max-width: 30rem;;
            width: 100%;
            margin: 0 auto;
        }

    }


    .restaurants {
        margin: 0 auto;
        width: 70% !important;

        &__title {
            text-align: center;
        }

        &__card {
            max-width: 40rem;
            width: 100%;
        }
    }
}



@media only screen and (min-width: $desktopBreakPoint) {
    body {
        margin: 0 auto;
    }

    .restaurants {
        width: 70%;
        margin: 0 auto;

            &__title {
                font-size: 2.2rem;
            }

            &__cards {
                display: grid !important;
                justify-items: center;
                grid-gap: 2rem 3rem;
                grid-template-columns: 1fr 1fr;
            }
    }
}







// Restaurants

@media only screen and (max-width: $phoneBreakPoint) {
    .restaurant__title {
        &__main {
            font-size: 1.3rem !important;
        }
    }

}



@media only screen and (min-width: $tabletBreakPoint) {

    .header__new-page {
        &-arrow{
            margin-left: 5rem;
        }
    }

    .restaurant {
        width: 85%;
        margin: 0 auto;
        box-shadow: 0px 9px 26px 0px #000000;

        &__title {
            justify-content: center !important;

            &__main {
                margin: 0 1.5rem 1.5rem 0;
            }

        }

    .main {
        font-size: 2rem;
        margin-right: 3rem;
    }

        &__menu {
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
        }
    }

}



@media only screen and (min-width: $desktopBreakPoint) {
    body {
        background-color: $body-color-background;
    }


    .header__new-page {

        &-arrow {
            margin-left: 14rem;
        }
    }

    .restaurant__image__background {
        box-shadow: $btn-box-shadow;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }


    .restaurant {
        max-width: 80%;
        width: 100%;

        &__title {
            justify-content: center !important;

            &__main {
                margin: 0 1.5rem 1.5rem 0;
            }

        }


        &__menu {
            max-width: 30%;
        }
    }

    .container {
        display: flex;
    }


    .footer {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-align: center;
        box-shadow: 0px -4px 13px 3px #000000;

        &__logo {
            margin-top: 2rem;
        }
    }





}