@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.restaurant__menu-description:nth-child(2) {
  animation-name: fromBottom;
  animation-duration: 1.5s;
}

.restaurant__menu-description:nth-child(3) {
  animation-name: fromBottom;
  animation-duration: 2s;
}

.restaurant__menu-description:nth-child(4) {
  animation-name: fromBottom;
  animation-duration: 2.5s;
}

.restaurant__menu-description:nth-child(5) {
  animation-name: fromBottom;
  animation-duration: 3s;
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }
  100% {
    opacity: 1;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

img {
  width: 15rem;
}

h1 {
  font-weight: 700;
  font-size: 1.6rem;
}

h2 {
  font-family: "Shrikhand", cursive;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .functioning__title {
    text-align: center;
  }
  .functioning__btn {
    max-width: 30rem;
    width: 100%;
    margin: 0 auto;
  }

  .restaurants {
    margin: 0 auto;
    width: 70% !important;
  }
  .restaurants__title {
    text-align: center;
  }
  .restaurants__card {
    max-width: 40rem;
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    margin: 0 auto;
  }

  .restaurants {
    width: 70%;
    margin: 0 auto;
  }
  .restaurants__title {
    font-size: 2.2rem;
  }
  .restaurants__cards {
    display: grid !important;
    justify-items: center;
    grid-gap: 2rem 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .restaurant__image img {
    height: 40vh;
  }

  .restaurant {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 9px 26px 0px #000000;
  }
  .restaurant__title {
    justify-content: center !important;
  }
  .restaurant__title h2 {
    font-size: 2rem !important;
    margin-right: 3rem;
  }
  .restaurant__menu {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1025px) {
  .header__new-page a {
    margin-left: 7rem;
  }

  .restaurant__image__bg-image {
    height: 50vh !important;
  }

  .restaurant {
    max-width: 85%;
    width: 100%;
  }
  .restaurant__title {
    margin-bottom: 2rem !important;
  }
  .restaurant__menu {
    max-width: 50%;
  }
}
.header {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 9px #0000005b;
}
.header__logo {
  width: 10rem;
}

.location {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}
.location__city {
  margin-left: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  width: 20rem;
}
.title__main {
  padding: 1rem;
}
.title__sub {
  font-weight: 100;
  margin-bottom: 1rem;
}
.title__btn {
  text-decoration: none;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  padding: 1.2rem 2rem;
  color: #ffffff;
  background: linear-gradient(173deg, #FF79DA, #9356DC);
  box-shadow: 2px 9px 25px -5px 2px 9px 25px -5px #000000b3;
  transition: all 500ms;
}
.title__btn:hover {
  transform: scale(1);
  background: linear-gradient(173deg, #FF79DA 15%, #9356DC 85%);
  box-shadow: 2px 9px 25px -5px #000000b3;
}

.functioning {
  background-color: #fff;
  padding: 3rem 1rem;
}
.functioning__title {
  margin-bottom: 1.5rem;
}
.functioning__btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.functioning__btn-filter {
  display: flex;
  text-align: center;
  position: relative;
  color: #000000;
  margin-bottom: 1.5rem;
  text-decoration: none;
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 20px;
  outline: none;
  width: 100%;
  box-shadow: 2px 9px 25px -5px #00000033;
}
.functioning__btn-filter:hover {
  background-color: #e4d5f6;
  transition: all 500ms;
}
.functioning__btn-filter:hover .functioning__btn-icon {
  color: #9356DC;
}
.functioning__btn-num {
  position: absolute;
  left: -0.5rem;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.functioning__btn-icon {
  margin-left: 1.5rem;
  color: #808080;
}
.functioning__btn-text {
  margin-left: 1rem;
  color: text-color;
}

.restaurants {
  padding: 3rem 1rem;
}
.restaurants__title {
  margin-bottom: 1.5rem;
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__card {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 2px 9px 25px -5px #00000033;
  text-decoration: none;
}
.restaurants__card a {
  text-decoration: none;
  color: #000000;
}
.restaurants__card a:hover, .restaurants__card a:focus {
  color: #6023a9;
  transition: all 500ms;
  outline: none;
}
.restaurants__card-img {
  position: relative;
}
.restaurants__card-img img {
  object-fit: cover;
  width: 100%;
  height: 13rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.restaurants__card-img p {
  position: absolute;
  text-decoration: none;
  color: #179674;
  background-color: #99E2D0;
  padding: 0.4rem;
  top: -11rem;
  right: 0.6rem;
  border-radius: 3px;
  font-size: 0.7rem;
}
.restaurants__card-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.7rem;
  color: #000000;
}
.restaurants__card-description h3 {
  margin-bottom: 0.4rem;
}
.restaurants__card-description i {
  font-size: 1.6rem;
  cursor: pointer;
}
.restaurants__card-description i:hover {
  color: red;
  background-color: red;
}

.footer {
  background-color: #3d3d3d;
  height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer a:hover,
.footer a:focus {
  color: #8641d8;
  transition: all 500ms;
  outline: none;
}
.footer__links {
  margin-bottom: 0.5rem;
}
.footer__icon {
  font-size: 0.7rem;
  margin-right: 0.6rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: bolder;
  font-size: 1.2rem;
}

.header {
  position: relative;
}
.header .header {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 9px #0000005b;
}
.header .header__logo {
  width: 10rem;
}
.header__new-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__new-page a {
  color: #000000;
  position: absolute;
  left: 1.5rem;
  font-size: 1.3rem;
}
.header__new-page a i:hover {
  color: #8641d8;
}

.restaurant__image__bg-image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.restaurant {
  background-color: #f5f5f5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -3.5rem;
  padding: 1rem;
}
.restaurant__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.restaurant__title h2 {
  font-size: 1.5rem;
}
.restaurant__title i {
  font-size: 1.4rem;
}
.restaurant__menu {
  margin-bottom: 2.5rem;
}
.restaurant__menu-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
}
.restaurant__menu-title::after {
  content: "";
  display: block;
  width: 2.5rem;
  margin-top: 0.3rem;
  border-bottom: 3px solid #99E2D0;
}
.restaurant__menu-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 1.2rem;
  padding: 0.8rem;
  box-shadow: 2px 9px 25px -9px #00000047;
}
.restaurant__menu-item h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.restaurant__menu-item p {
  font-weight: lighter;
  font-size: 0.7rem;
}
.restaurant__menu-price {
  font-weight: bolder;
}
.restaurant__menu-icon {
  display: none;
}
.restaurant__btn {
  text-align: center;
  margin: 2.5rem 0;
}
.restaurant__btn-cmd {
  text-decoration: none;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  padding: 1.2rem 2rem;
  color: #ffffff;
  background: linear-gradient(173deg, #FF79DA, #9356DC);
  box-shadow: 2px 9px 25px -5px 2px 9px 25px -5px #000000b3;
  transition: all 500ms;
  box-shadow: 2px 9px 25px -5px #000000b3;
  display: inline-block;
  padding: 1rem 3rem;
}
.restaurant__btn-cmd:hover {
  transform: scale(1);
  background: linear-gradient(173deg, #FF79DA 15%, #9356DC 85%);
  box-shadow: 2px 9px 25px -5px #000000b3;
}

.footer {
  background-color: #3d3d3d;
  height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer a:hover,
.footer a:focus {
  color: #8641d8;
  transition: all 500ms;
  outline: none;
}
.footer__links {
  margin-bottom: 0.5rem;
}
.footer__icon {
  font-size: 0.7rem;
  margin-right: 0.6rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: bolder;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
