
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    background-color: $body-color-background;
}

img {
    width: 15rem;
}

h1 {
    font-weight: 700;
    font-size: 1.6rem;
}

h2 {
    font-family: 'Shrikhand', cursive;
}


.footer__logo {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
}
