.header {
    @include header;
    position: relative;

    &__new-page {
        display: flex;
        justify-content: center;
        align-items: center;

        &-arrow {
            color: $text-color;
            position: absolute;
            left: 1.2rem;
            font-size: 1.3rem;

            i:hover {
                background-image: linear-gradient(90deg, $color-primary,$color-secondary);
                -webkit-background-clip: text;
                color: transparent;
                transition: all 500ms;
            }
        }


    }
}


// Restaurant-Image
.restaurant__image {
    &__background {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
}


// Menu
.restaurant {
    background-color: $body-color-background;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    margin-top: -3.5rem;
    padding: 1rem;


    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        &__main {
            font-size: 1.5rem;
        }

       &__heart {
           @include heart;
       }


        // Heart Old Animation
        // &__form-check {
        //     @include heart;
        //     position: relative;
        //     top: .5rem;
        // }


    }



    &__menu {
        margin-bottom: 2.5rem;

        &-title {
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 1rem;
            margin-bottom: 1rem;
            margin-left: .3rem;

            &::after {
                content: '';
                display: block;
                width: 2.5rem;
                margin-top: .3rem;
                border-bottom: 3px solid $color-tertiary;
            }
        }

        &-description {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: $text-color-invert;
            border-radius: 15px;
            margin-bottom: 1.2rem;
            box-shadow: 2px 9px 25px -9px #00000047;



            height: 70px;

            &:hover {
                cursor: pointer;

                .restaurant__menu-icon {
                    width: 80px;


                    .fa-check-circle {
                        transform: rotate(360deg);
                        transition: transform 1s ease-in-out;
                    }
                }
            }
        }

        &-item {
            flex-grow: 1;
            padding: .8rem;
            overflow: hidden;
            width: 0;

            &-title {
                margin-bottom: .5rem;
                font-size: .9rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

            }

            &-subtitle {
                font-size: .78rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        &-price {
            font-weight: bolder;
            padding: 0 .8rem .8rem 0;
            background-color: transparent;
        }

        &-icon {
            line-height: 70px;
            height: 100%;
            width: 0;
            background-color: $color-tertiary;
            color: #fff;
            font-size: 1.5rem;
            border-radius: 0 15px 15px 0;
            transition: width 1s ease-in-out;

            .fa-check-circle{
                margin-left: 30px;
            }


            overflow: hidden;
        }
    }



    // Button
    &__btn {
        text-align: center;
        margin: 2.5rem 0;

        &-cmd {
            @include button;
            display: inline-block;
            padding: .8rem 2.3rem;
        }
    }
}

.footer {
    @include footer;
}


